#page {
  background-color: #000;
}

#App{
  width: 100vw;
  margin: auto;
  /* height: 100vh; */
  text-align: center;
    /* overflow: auto; */
}

#footer{
  /* position: fixed; */
  margin: 3% auto;
}

.foot-line {
  width: 50vw;
  border-top: 3px solid rgb(255, 255, 255);
  border-bottom: none;
  border-left: none;
  border-right: none;
  /* margin: auto; */
}

.flex-column {
  position: fixed;
  margin: 4vh;
  margin-bottom: 4vh;
}
.box{
  margin: 10px;
  padding: 20px;
  /* border: 2px solid rgb(255, 255, 255); */
  text-align: center;
  color: rgb(255, 255, 255);
}

.nav-link, a {
  color: #fff;
  text-decoration: none;
}

.nav-link:hover, .nav-link:active, a:hover, a:active{
  color: #ffcc66
}

#main-col {
  border-right: 2px solid rgb(255, 255, 255);
  /* width: 100vw; */
  /* display: inline; */
  text-align: center;
  color: rgb(255, 255, 255);
  align-content: center;
  margin: auto;
  padding: 1%;
  background-color: #000;
  /* overflow: auto; */
}


#home-jumbo {
  background-image: url('https://cdn.pixabay.com/photo/2018/05/12/03/00/shy-3392329_1280.jpg');
  width: 80vw;
  margin: 1%;
}

#side-col {
  display: none;
}

/* img {
  max-width: 80%;
  max-height: auto;
} */

@media only screen and (min-width: 768px) {
  #top-menu {
    display: none;
  }
  #side-col {
    /* height: 100vh; */
    display: inline;
    /* position: fixed; */
    padding-top: 15vh;
    padding-bottom: 15vh;
    justify-content: center;
    /* max-width: 15vw; */
    background-color: #000;
    /* border: 2px solid rgb(255, 255, 255); */

  }
  #main-col {
    /* max-height: 100vh; */
    margin: 0;
    width: 100vw; 
    /* margin-left: 2vw; */
    margin: auto;
    /* overflow: auto; */
  }
}

.navbar-toggler-icon {
  color: #ffcc66;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
  border-color: rgb(255,102,203);
} 

.sidenav {
  height: 100vh;
  width: 19%;
  margin: auto;
  position: fixed;
  /* z-index: 1; */
  left: 0;
  /* overflow-x: hidden; */
  /* padding-top: 20px;
  padding-bottom: 20px; */
}

a {
  text-align: center;
  margin: auto 0;
  padding: 8px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

a:hover, a:active {
  color: #ffcc66;
}


@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav h3 {font-size: 18px;}
}

#button-tooltip {
  animation: none
}